/* Created by: Mohamad
* Created on: Sep 2023
* This file contains the CSS for index.html
*/

.mdl-layout-title {
  text-align: left;
}

.listposition {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: bisque;
  margin: auto;
  width: 600px;
}

.demo-list-icon {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 0;
}

.mdl-list__item {
  margin: 0;
}

.stevejobs {
  display: block;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  width: 400px;

}

.listbody {
  background-color: bisque;
  margin: auto;
  width: 750px;
  text-align: left;
  padding: 20px;
}

.stevejobsdescription {
  text-align: center;
}

.listheader {
  text-align: center;
}

body {
  background-color: darkseagreen;
}

